.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

/* .input-boxes {
  margin-top: 20px;
} */

input {
  margin: 5px;
  padding: 8px;
}
.addplayer {
 text-align: center;
  box-shadow: 5px 5px 10px 1px #000;
  padding: 40px;

}
.list_players{
  list-style: decimal outside;
  color: crimson;
}
.enter_score{
  align-items: center;
}
.btn_addscore{
color: brown;
}
.score-table{
  background-color: aqua;
}